
// Colors
$color_darkgray: #312D3B;
$color_yellow: #FFC600;
$color_background: #312D3B;

$border_line: 1px solid rgb(236, 236, 236);

// Container
$container_max_width: 1500px;
$container_margin_top: 100px;