
// Colors
$color_purple: #9782c5;
$color_darkgray: #687CA1;
$color_background: #f8f9fd;
$color_lightgray: #E9EDF6;
$color_blue: #48c4e0;
$color_red: #F05455;
$color_orange: #E5A750;
$color_green: #4BBA6E;

$border_line: 1px solid rgb(236, 236, 236);

// Navbar
$navbar_hight: 70px;
$navbar_item_width: 210px;

// Container
$container_max_width: 1200px;
$container_margin_top: 70px;

// Typography
// $text_normal_fontsize: 20px;
$text_normal_color: $color_purple;
$text_normal_fontweight: bold;
$text_normal_margin: 0 0 20px 0;

// Card
$card_padding: 50px;

// Button
$button_padding: 15px 50px;
$button_fontsize: 14px;
$button_fontweight: bold;
$button_border-radius: 4px;

// Input
$input_padding: 15px 0 15px 15px;
$input_fontsize: 14px;
$input_fontweight: bold;
$input_border-radius: 4px;

// Input group
$inputgroup_margin: 25px 0 0 0;